{% extends 'layout.html' %}

{% block title %}Mis reservas{% endblock title %}

{% block content %}
    <span class="welcome_message">
        {% if request.user.username %}
            Bienvenido, {{request.user.username}}
        {% endif %}
    </span>
    <h1>Mis reservas</h1>
    <div class="content">
        <div class="reservations_content">
            <h2>Reservas pendientes</h2>
            <ul class="pendant_reservation_list">
                {% if reservations %}
                    {% for reservation in reservations %}
                        <li>
                            <div>
                                <h3>{{ reservation.service }}</h3>
                                <span class="service_text">Precio por hora: {{ reservation.service.price_per_hour }} $</span>
                                <span class="service_text">Techado: {{ reservation.service.with_roof|yesno:"Sí,No" }}</span>
                                <span class="service_text">Hora del inicio: {{ reservation.time_start }}</span>
                                <span class="service_text">Hora del final: {{ reservation.time_end }}</span>
                                <button class="">Cancelar reserva</button>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>No tienes reservas.</p>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}