{% extends "layout.html" %}

{% block title %}Registro{% endblock title %}

{% block content %}
<div class="auth_form_container">
    <h2>Regístrate</h2>
    <form method="POST" action="{% url "register" %}">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Registrar</button>
    </form>

    {% if error  %}
        <p class="error">{{ error }}</p>
    {% endif %}
</div>

<div class="credenciales">
    <span>Credenciales de administrador:</span>
    <span>Usuario: admin123</span>
    <span>Contraseña: password123</span>

    <span>Las instrucciones de uso están en el README.md del <a href="https://github.com/fabianRivero/django1.git" target="_blank">repositorio github</a>.</span>
</div>
{% endblock content %}