{% load static %}

<header class="header">
  <div class="container">
    <a class="" href="{% url 'home' %}"><img src="{% static "images/logo.png" %}" alt="logo"></a>


    <div class="header_links" id="navbarMain">
      <ul class="">
        <li class="">
          <a class="" href="{% url 'home' %}">Inicio</a>
        </li>
        {% if user.is_authenticated %}
            <li class="">
                <a class="" href="{% url 'reservations' %}">Mis reservas</a>
            </li>
        {% endif %}

      </ul>
    </div>

    <div class="header_sub_menu">
      {% if user.is_authenticated %}
        <div class="header_sub_menu_user">
            <form action="{% url "logout" %}" method="POST">
                {% csrf_token %}
                <button class="" type="submit"">Cerrar sesión</button>
            </form>
        </div>
        <img src="{% static "images/bell.png" %}" alt="Campana de notificaciones">
      {% else %}
        <a class="" href="{% url 'login' %}">Iniciar sesión</a>
      {% endif %}
    </div>
  </div>
</header>
