{% load static %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ArenaPlay{% endblock %}</title>
    <link href="{% static 'styles/styles.css' %}" rel="stylesheet" type="text/css"> 
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    {% django_htmx_script %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>
    <script src="{% static 'js/calendar_script.js' %}"></script>
</head> 
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% include '_includes/header.html' %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
{% block script %}

{% endblock %}
